/*
-------------------------------------------------------------------
	LiveEditor - only LiveEditor code here please
-------------------------------------------------------------------
*/

html {
	margin-bottom: 50px
	}

* {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

select,
button {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Toolbars */

#op-le-settings-toolbar .container, #op-le-toolbar .container {
	display: block;
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 9999;
	background:none;
	border:none;
	}

#op-le-settings-toolbar {
	background: #404040;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#2c2c2c));
	background: -webkit-linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	background: -moz-linear-gradient(top,  #404040 0%, #2c2c2c 100%);
	background: -ms-linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	background: -o-linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	background: linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#2c2c2c',GradientType=0 );
	-webkit-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-ms-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-o-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #000000;
	height: 100px;
	width: 100%;
	margin: 0px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	}

#op-le-toolbar {
	background: #808080;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#808080));
	background: -webkit-linear-gradient(top,  #595959 0%,#808080 100%);
	background: -moz-linear-gradient(top,  #595959 0%, #808080 100%);
	background: -ms-linear-gradient(top,  #595959 0%,#808080 100%);
	background: -o-linear-gradient(top,  #595959 0%,#808080 100%);
	background: linear-gradient(top,  #595959 0%,#808080 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#808080',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	-ms-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	-o-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	border-top: 1px solid #000;
	height: 75px;
	width: 100%;
	margin: 0px;
	position: fixed;
	bottom: 0;
	padding-top: 25px;
	z-index: 9999;
	-moz-transition: bottom .2s ease-in-out;
	-webkit-transition: bottom .2s ease-in-out;
	-o-transition: bottom .2s ease-in-out;
	transition: bottom .2s ease-in-out;
	}

#op-le-settings-toolbar .container .op-logo {
	float: left;
	margin: 24px 0 0 0;
	}

#op-le-settings-toolbar .container ul {
	float: right;
	display: inline-block;
	list-style: none;
	}

#op-le-settings-toolbar .container ul li{
	float: right;
	margin: 22px -1px 0 23px;
	width: 52px;
	height: 52px;
	}

#op-le-editor-separator {
	-margin-bottom: 100px;
	}

#op-le-close-editor, #op-live-editor-status {
	float: left;
	}

#op-live-editor-status {
	float: left;
	}

#op-le-toolbar .save-options {
	float: right;
	display: block;
	}

#op-live-editor-status {
	position: relative;
	top: 15px;
	margin-right: 5px;
	width: 150px;
	}

.toggle-container {
	margin: 0 50px 0 0;
	float: left;
	display: inline-block;
	height: 50px;
	width: 58px;
	border: 2px dotted rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 10px 0 0 8px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color: rgba(0, 0, 0, 0.1);
	}

.toggle-visibility {
	height: 24px;
	width: 39px;
	cursor: pointer;
	}


/* Add New Row & Buttons */

.feature_area_liveeditor_below-add-new-row-link .add-new-row-content a.add-new-button,
.feature_area_liveeditor_above-add-new-row-link .add-new-row-content a.add-new-button { text-decoration: none !important; }

.op-row-links .add-new-row,
.add-new-row-content .add-new-button,
#footer-add-new-row-link .add-new-button,
.add-new-element {
	background: #595959;
	background: -moz-linear-gradient(top,  #595959 0%, #525252 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#525252));
	background: -webkit-linear-gradient(top,  #595959 0%,#525252 100%);
	background: -o-linear-gradient(top,  #595959 0%,#525252 100%);
	background: -ms-linear-gradient(top,  #595959 0%,#525252 100%);
	background: linear-gradient(top,  #595959 0%,#525252 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#525252',GradientType=0 );
	-moz-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
	border: 1px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	height: 40px;
	width: auto;
	padding: 8px 23px 0px 23px;
	margin: 0 14px;
	font-size: 16px !important;
	font-weight: bold;
	color: #fff !important;
	text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
	text-decoration: none !important;
	display: inline-block;
	}

.op-row-links .add-new-row:hover,
.add-new-row-content .add-new-button:hover,
#footer-add-new-row-link .add-new-button:hover,
.add-new-element:hover {
	background: #004a7f;
	background: -moz-linear-gradient(top,  #005999 0%, #004a7f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005999), color-stop(100%,#004a7f));
	background: -webkit-linear-gradient(top,  #005999 0%,#004a7f 100%);
	background: -o-linear-gradient(top,  #005999 0%,#004a7f 100%);
	background: -ms-linear-gradient(top,  #005999 0%,#004a7f 100%);
	background: linear-gradient(top,  #005999 0%,#004a7f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005999', endColorstr='#004a7f',GradientType=0 );
	-webkit-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
	box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
	}

.op-row-links .add-new-row img,
.add-new-row-content .add-new-button img,
#footer-add-new-row-link .add-new-button img,
.add-new-element img {
	position: relative;
	top: 5px;
	}

.op-row-links .add-new-row span,
.add-new-row-content .add-new-button span,
#footer-add-new-row-link .add-new-button span,
.add-new-element span, a.add-new-element span {
	padding-left: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
	}

.add-new-row-content .add-new-button,
#footer-add-new-row-link .add-new-button{
	opacity: .25;
	position: relative;
	top: 1px;
	}

.add-new-row-content:hover .add-new-button,
#footer-add-new-row-link:hover .add-new-button{
	opacity: 1;
	}

.add-new-row-content,
#footer-add-new-row-link{
	margin: 25px 0;
	/*margin: 25px 0 0 0;*/
	height: 52px;
	background: url('../images/live_editor/row-lines-2.png') center no-repeat;
	text-align: center;
	display: block;
	clear: both;
	}


/* Add New Row - with Controls */

.op-row-links {
	padding-top:25px;
	padding-bottom:25px;
	height: 52px;
	background: url('../images/live_editor/row-lines.png') center no-repeat;
	text-align: center;
	clear:both;
}

.op-row-links:first-child{padding-top:10px;}

.op-row-links a {
	display: inline-block;
	visibility: hidden;
	}

.row:hover .op-row-links {
	background-image: url('../images/live_editor/row-lines-active.png');
	}

.row:hover .op-row-links a {
	visibility: visible;
	}

.op-row-links a {
	opacity: .25;
	transition: opacity .1s ease-in-out;
	}

.op-row-links:hover a {
	opacity: 1;
	}

.op-row-links .edit-row {
	background-image: url('../images/live_editor/edit_row.png');
	height: 52px;
	width: 52px;
	margin-top: 0px;
	margin-left: -60px;
	left: -82px;
	position: relative;
	}

.op-row-links .edit-row:hover {
	background-image: url('../images/live_editor/edit_row_active.png');
	}

.op-row-links .clone-row {
	background-image: url('../images/live_editor/clone_row.png');
	height: 52px;
	width: 52px;
	margin-top: 0px;
	margin-left: -60px;
	left: -12px;
	position: relative;
	}

.op-row-links .clone-row:hover {
	background-image: url('../images/live_editor/clone_row_active.png');
	}

.op-row-links .move-row {
	background-image: url('../images/live_editor/move_row.png');
	height: 52px;
	width: 52px;
	position: relative;
	top: 0px;
	}

.op-row-links .move-row:hover {
	background-image: url('../images/live_editor/move_row_active.png');
	}

.op-row-links .delete-row {
	background-image: url('../images/live_editor/delete_row.png');
	height: 52px;
	width: 52px;
	position: relative;
	top: 0px;
	}

.op-row-links .delete-row:hover {
	background-image: url('../images/live_editor/delete_row_active.png');
	}

.op-row-links .add-new-row {
	position: relative;
	top: -20px;
	}


/* Add New Element */

.add-element-container {
	background-color: rgba(229, 229, 229, .5);
	-webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           -ms-border-radius: 4px;
           -o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(192, 192, 192, .5), inset 0 2px 0 0 rgba(255, 255, 255, .5);
	-moz-box-shadow: inset 0 0 0 1px rgba(192, 192, 192, .5), inset 0 2px 0 0 rgba(255, 255, 255, .5);
	-ms-box-shadow: inset 0 0 0 1px rgba(192, 192, 192, .5), inset 0 2px 0 0 rgba(255, 255, 255, .5);
	-o-box-shadow: inset 0 0 0 1px rgba(192, 192, 192, .5), inset 0 2px 0 0 rgba(255, 255, 255, .5);
	box-shadow: inset 0 0 0 1px rgba(192, 192, 192, .5), inset 0 2px 0 0 rgba(255, 255, 255, .5);
	display: block;
	height: 74px;
	margin: 0;
	padding: 24px 0 0 0;
	text-align: center;
	/*/position: relative;*/
	}

.element-container .add-new-element {
	text-decoration: none !important;
	position: relative;
	}

.element-container:hover {
	outline: 2px dashed #ccc;
	outline: 2px dashed rgba(0,0,0,0.2);
	}

.split-column img {
	padding-top: 4px !important;
	opacity: 0.25;
	}

.split-column img:hover {
	opacity: 1;
	}

.split-half .add-element-container {
	margin-top: 15px;
	margin-bottom: 15px;
	}

.split-half .add-new-element span {
	display: none;
	}

.sort-disabled {
	height: 4px;
	margin: 0 !important;
	outline: none !important;
	}

.ui-sortable-helper {
	outline: none !important;
	}

.ui-sortable-helper .op-element-links .element-settings,
.ui-sortable-helper .op-element-links .element-parent-settings,
.ui-sortable-helper .op-element-links .element-delete {
	opacity: 0.25!important;
	}

.ui-sortable-placeholder {
	visibility: visible !important;
	outline: 2px dashed #ccc;
	outline: 2px dashed rgba(0,0,0,0.2);
	}


/* Misc Row & Element Styling  */

#content_area {
	/* padding-bottom: 100px;*/
	}

#content_area .row {
	margin-bottom: 10px;
	}

#content_area .section {
	margin-bottom: 0px;
	}

.hr-lines {
	position: relative;
	background-image: url('../images/live_editor/row-lines.png');
	background-repeat: repeat-x;
	background-position: center;
	text-align: center;
	height: 3px;
	padding: 10px 0px;
	}

.hr-lines hr {
	display: none;
	}

#content_area .rows,
#content_area .cols {
	border: 0px dashed #000;
	min-height: 20px;
	}

#epicbox .row {
	margin-bottom: 0px;
	}

.ie7 #content_area .cols .op-element-links,
.ie7 #footer_area .cols .op-element-links,
.ie7 #epicbox .op-element-links {
	z-index: 9998;
	}

.ie7 #epicbox .element-container {
	position: static;
	}


/* Add New Element Controls */

.element-container {
	position: relative;
	min-height: 35px; /* to ensure that elements links don't fall out of the container */
	}

.op-element-links {
	opacity: 0.25;
	display: inline-block;
	width: auto !important;
	height: 35px !important;
	position: absolute;
	right: 0px;
	z-index: 9998;
	}

.op-element-links:hover {
	opacity: 1;
	}

 .op-element-links {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	display: none;
	}

.element-container:hover .op-element-links {
	display: block;
	}

.op-element-links a {
	position: relative;
	z-index: 9998;
	display: inline-block;
	margin: 5px 5px 5px 0;
	height: 26px;
	width: 25px;
	color: rgba(255,255,255,0);
	background: url('../images/live_editor/element-controls.png') no-repeat;
	overflow: hidden;
	text-indent: 100%;
	vertical-align: top;
	}

.op-element-links .element-delete { background-position: 0 -60px; }
.op-element-links .element-move { background-position: 0 -30px; }
.op-element-links .element-settings { background-position: 0 0; }
.op-element-links .element-clone { background-position: 0 -300px; }
.op-element-links .element-parent-settings { background-position: 0 -240px; }
.op-element-links .element-advanced { background-position: 0 -180px; }

.op-element-links .element-delete:hover { background-position: 0 -150px; }
.op-element-links .element-move:hover { background-position: 0 -120px; }
.op-element-links .element-settings:hover { background-position: 0 -90px; }
.op-element-links .element-clone:hover { background-position: 0 -330px; }
.op-element-links .element-parent-settings:hover { background-position: 0 -270px; }
.op-element-links .element-advanced:hover { background-position: 0 -210px; }

.op-element-links .element-delete img,
.op-element-links .element-move img,
.op-element-links .element-settings img,
.op-element-links .element-clone img,
.op-element-links .element-parent-settings img,
.op-element-links .element-advanced img {
	visibility: hidden;
	position: relative;
	top: 25%;
	}


/* Lightboxes */

.fancybox-outer {
	background-color: #fff;
	}

.fancybox-inner {
	overflow-x: hidden;
	}

.fancybox-inner p {
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
	}

.fancybox-inner h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
	font-size: 28px !important;
	font-weight: bold !important;
	color: #fff !important;
	text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
	margin-bottom: 0px;
	padding: 33px 25px 0px 25px;
	height: 67px;
	background: #404040;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#2c2c2c));
	background: -webkit-linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	background: -moz-linear-gradient(top,  #404040 0%, #2c2c2c 100%);
	background: -ms-linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	background: -o-linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	background: linear-gradient(top,  #404040 0%,#2c2c2c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#2c2c2c',GradientType=0 );
	-webkit-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-ms-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-o-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #000000;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	}

.fancybox-inner .op-lightbox-content h2 {
	font-size: 16px !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #333 !important;
	font-weight: bold !important;
	line-height: normal !important;
	font-style: normal !important;
	margin: 0 0 25px 0;
	}

#op-le-row-select .op-insert-button,
#op-le-row-options .op-insert-button,
#op-le-advanced .op-insert-button,
#op-le-split-column .op-insert-button,
#le-layouts-dialog .op-insert-button,
#le-headers-dialog .op-insert-button,
#le-colours-dialog .op-insert-button,
#le-typography-dialog .op-insert-button,
#le-membership-dialog .op-insert-button,
#le-settings-dialog .op-insert-button,
#le-presets-dialog .op-insert-button,
.op-feature-area .op-insert-button,
#op-le-row-insert-element .op-insert-button,
#epicbox .op-insert-button {
	height: 100px;
	width: 100%;
	margin: 25px 0 0 0;
	background: #808080;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#808080));
	background: -webkit-linear-gradient(top,  #595959 0%,#808080 100%);
	background: -moz-linear-gradient(top,  #595959 0%, #808080 100%);
	background: -ms-linear-gradient(top,  #595959 0%,#808080 100%);
	background: -o-linear-gradient(top,  #595959 0%,#808080 100%);
	background: linear-gradient(top,  #595959 0%,#808080 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#808080',GradientType=0 );
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	-ms-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	-o-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.15);
	border-top: 1px solid #000;
	z-index: 99999;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	}

#op-le-row-select .op-insert-button a,
#op-le-row-options .op-insert-button a,
#op-le-advanced .op-insert-button a,
#op-le-split-column .op-insert-button a,
#le-layouts-dialog .op-insert-button button,
#le-headers-dialog .op-insert-button button,
#le-colours-dialog .op-insert-button button,
#le-typography-dialog .op-insert-button button,
#le-membership-dialog .op-insert-button button,
#le-settings-dialog .op-insert-button button,
#le-presets-dialog .op-insert-button button,
.op-feature-area .op-insert-button button,
#op-le-row-insert-element .op-insert-button a,
#op-le-row-select .op-insert-button button,
#op-le-row-options .op-insert-button button,
#op-le-advanced .op-insert-button button,
#op-le-split-column .op-insert-button button,
#epicbox .op-insert-button button {
	margin-top: 23px;
	margin-right: 25px;
	float: right;
	text-align: center;
	color: #fff;
	text-decoration: none;
	}

#op-le-row-select .op-insert-button a:hover,
#op-le-row-options .op-insert-button a:hover,
#op-le-advanced .op-insert-button a:hover,
#op-le-split-column .op-insert-button a:hover,
#le-layouts-dialog .op-insert-button button:hover,
#le-headers-dialog .op-insert-button button:hover,
#le-colours-dialog .op-insert-button button:hover,
#le-typography-dialog .op-insert-button button:hover,
#le-membership-dialog .op-insert-button button:hover,
#le-settings-dialog .op-insert-button button:hover,
#le-presets-dialog .op-insert-button button:hover,
.op-feature-area .op-insert-button button:hover,
#op-le-row-insert-element .op-insert-button a:hover,
#op-le-row-select .op-insert-button button:hover,
#op-le-row-options .op-insert-button button:hover,
#op-le-row-advanced .op-insert-button button:hover,
#op-le-split-column .op-insert-button button:hover,
#epicbox .op-insert-button button:hover {
	background: #228700;
	background: -moz-linear-gradient(top,  #28a100 0%, #228700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28a100), color-stop(100%,#228700));
	background: -webkit-linear-gradient(top,  #28a100 0%,#228700 100%);
	background: -o-linear-gradient(top,  #28a100 0%,#228700 100%);
	background: -ms-linear-gradient(top,  #28a100 0%,#228700 100%);
	background: linear-gradient(top,  #28a100 0%,#228700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28a100', endColorstr='#228700',GradientType=0 );
	-webkit-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
	box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.25);
	}

#op-le-row-select .op-insert-button a:active,
#op-le-row-options .op-insert-button a:active,
#op-le-advanced .op-insert-button a:active,
#op-le-split-column .op-insert-button a:active,
#le-layouts-dialog .op-insert-button button:active,
#le-headers-dialog .op-insert-button button:active,
#le-colours-dialog .op-insert-button button:active,
#le-typography-dialog .op-insert-button button:active,
#le-membership-dialog .op-insert-button button:active,
#le-settings-dialog .op-insert-button button:active,
#le-presets-dialog .op-insert-button button:active,
.op-feature-area .op-insert-button button:active,
#op-le-row-insert-element .op-insert-button a:active,
#op-le-row-select .op-insert-button button:active,
#op-le-row-options .op-insert-button button:active,
#op-le-advanced .op-insert-button button:active,
#op-le-split-column .op-insert-button button:active,
#epicbox .op-insert-button button:active {
	position: relative;
	top: 1px;
	}

.fancybox-inner textarea,
.fancybox-inner input[type="text"]{
	background: #f2f2f2;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 10px;
	min-height: 18px;
	width: 100%;
	font-size: 16px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	clear: both;
	}

.fancybox-inner textarea:focus,
.fancybox-inner input[type="text"]:focus {
	-moz-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05);
	}


/* Lightbox - Sidebar Nested */

.fancybox-inner .op-bsw-grey-panel .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar,
.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar {
	background-color: #f2f2f2;
	position: relative;
	left: 0px;
	margin: 25px 0 15px -26px;
	width: 709px !important;
	}

.fancybox-inner .op-bsw-grey-panel .op-bsw-grey-panel-content .op-bsw-grey-panel-tabs,
.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-tabs,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-tabs {
	margin: 0px;
	}

.fancybox-inner .op-bsw-grey-panel .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar ul,
.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar ul,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar ul {
	border-bottom: 0px !important;
	box-shadow: inset -1px 0 0 0 #f2f2f2;
	}

.fancybox-inner .op-bsw-grey-panel .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li,
.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar li,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar li {
	display: inline-block;
	margin-right: -4px !important;
	border: 0px !important;
	-webkit-box-shadow: inset 0 0 0 1px #ccc !important;
	-moz-box-shadow: inset 0 0 0 1px #ccc !important;
	box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff !important;
	}

.fancybox-inner .op-bsw-grey-panel .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar  li.op-bsw-grey-panel-tabs-selected:first-child a,
.fancybox-inner .op-bsw-grey-panel .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar  li.op-bsw-grey-panel-tabs-selected:last-child a,
.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar  li.op-bsw-grey-panel-tabs-selected:first-child a,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar  li.op-bsw-grey-panel-tabs-selected:first-child a,
.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar  li.op-bsw-grey-panel-tabs-selected:last-child a,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-sidebar  li.op-bsw-grey-panel-tabs-selected:last-child a {
 	-webkit-border-radius: 0px !important;
 	-moz-border-radius: 0px !important;
 	border-radius: 0px !important;
 	}

.fancybox-inner .op-bsw-grey-panel .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a,
.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content .op-bsw-grey-panel-sidebar li a {
	font-size: 12px !important;
	}

.fancybox-inner #feature_area_optin .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-tab-content-container,
.fancybox-inner #feature_area_optin2 .op-lightbox-content .op-bsw-grey-panel-content  .op-bsw-grey-panel-tab-content-container {
	margin: 0px !important;
	padding: 0px !important;
	}


/* Lightbox - Content Layouts */

.module-content_layouts {
	display: block;
	width: 760px;
	}

#le-layouts-dialog {
	background-image: url('../images/sidebar-background.png');
	background-repeat: repeat-y;
	background-position: left top;
	margin-bottom: 0px;
	}

#le-layouts-dialog h1 {
	color: #fff !important;
	}

#le-layouts-dialog select {
	height: auto !important;
	}

#le-layouts-dialog .op-bsw-grey-panel-tab-content-container {
	width: 460px;
	padding: 25px;
	float: left;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar {
	box-shadow: none;
	border-radius: 0px !important;
	width: 249px;
	position: static;
	float: left;
	border: 0px;
	border-bottom: 1px solid #fff !important;
	}

#le-layouts-dialog ul.op-bsw-grey-panel-tabs {
	margin: 0px !important;
	border: 0px !important;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar li {
	border: 0px !important;
	border-bottom: 1px solid #ccc !important;
	border-top: 1px solid #fff !important;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar li:first-child {
	border-top: 0px;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar li a {
	color: #004a80 !important;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar li:hover a,
#le-layouts-dialog .op-bsw-grey-panel-sidebar li.op-bws-grey-panel-tabs-selected a {
	color: #004a80 !important;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar li.op-bws-grey-panel-tabs-selected a {
	color: #000 !important;
	border-top: 1px solid #ccc;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:first-child a,
#le-layouts-dialog .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected:last-child a {
	border-radius: 0px;
	}

#le-layouts-dialog .op-bsw-grey-panel-sidebar li.op-bsw-grey-panel-tabs-selected a {
	box-shadow: 0 -1px 0 0 #004a80;
	background-color: #004a80 !important;
	color: #fff !important;
	-border-right: 1px solid #004a80;
	}

#le-layouts-dialog .tab-predefined h4,
#le-layouts-dialog .tab-predefined p {
	font-family: inherit;
	font-size: 12px;
	color: #000 !important;
	}

#le-layouts-dialog .tab-predefined label {
	margin-top: 0px !important;
	display: inline;
	}

#le-layouts-dialog .tab-export label:first-of-type {
	margin-top: 0px;
	}

#le-layouts-dialog .tab-upload label {
	font-family: inherit !important;
	font-size: 12px !important;
	color: #000;
	margin-top: 0px !important;
	}

#le-layouts-dialog .tab-upload p {
	font-size: 12px !important;
	font-family: inherit !important;
	color: #666;
	}


/* Lightbox - Layout Settings */

#le-headers-dialog {
	height: auto;
	width: 760px;
	}

#le-headers-dialog .settings-container {
	padding: 0px !important;
	margin: 0px !important;
	}

#le-headers-dialog .op-bsw-grey-panel-content.op-bsw-grey-panel-no-sidebar:first-of-type {
	border: 0;
	}

#le-headers-dialog .op-bsw-grey-panel-header h3 a, #le-headers-dialog .op-bsw-grey-panel-header h3 {
	color: #004a80 !important;
	font-size: 16px;
	font-weight: bold;
	float: left;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff;
	margin-top: 8px;
	font-style:normal;
	}

#le-headers-dialog label.form-title {
	font-weight: bold;
	font-size: 12px;
	margin: 18px 0px 5px 0px;
	cursor: pointer;
	}

#le-headers-dialog .op-bsw-grey-panel-content > label.form-title:first-child {
	margin-top: -7px;
	}
#le-headers-dialog label.disable_header_link {
	display: inline;
	font-weight: normal;
	vertical-align: top;
}
#le-headers-dialog p {
	color: #666 !important;
	font-style: normal !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 18px;
	}

#le-headers-dialog p.op-micro-copy {
	margin: -4px 0px 10px 0px;
	}

.op-micro-copy a{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size:12px !important;
	color:#444 !important;
	}

#le-headers-dialog select  {
	height: auto !important;
	}

#le-headers-dialog .select-font {
	margin: 0px 15px 15px 0px !important;
	font-size: 12px !important;
	clear: both !important;
	display: inline-block !important;
	}

#le-headers-dialog .font-chooser select {
	margin: 0 15px 0 0 !important;
	width: auto !important;
	display: inline-block;
	}

#le-headers-dialog .color-picker-container input {
	display: inline;
	width: 90px !important;
	}

#le-headers-dialog .color-picker-container a.pick-color {
	margin: -10px 0px -14px 11px !important;
	display: inline-block !important;
	height: 38px !important;
	width: 38px !important;
	}

#le-headers-dialog .section-nav_bar_above .select-font,
#le-headers-dialog .section-nav_bar_below .select-font,
#le-headers-dialog .section-nav_bar_alongside .select-font,
#le-headers-dialog .section-footer_area .select-font { line-height: normal; }

#op_header_layout_nav_bar_above_font_style,
#op_header_layout_nav_bar_above_font_size,
#op_header_layout_nav_bar_above_font_shadow,
#op_header_layout_nav_bar_below_font_style,
#op_header_layout_nav_bar_below_font_size,
#op_header_layout_nav_bar_below_font_shadow,
#op_header_layout_nav_bar_alongside_font_style,
#op_header_layout_nav_bar_alongside_font_size,
#op_header_layout_nav_bar_alongside_font_shadow,
#op_footer_area_font_style,
#op_footer_area_font_size,
#op_footer_area_font_shadow {
	padding: 10px;
	float: left;
	}

#le-headers-dialog .section-nav_bar_above { margin-top: 25px; }

/* Lightbox - Membership */

#le-membership-dialog {
	height: auto;
	width: 760px;
	}

#le-membership-dialog .dialog-content {
	padding: 25px;
	}

#le-membership-dialog .settings-container {
	padding: 0px !important;
	margin: 0px !important;
	}

#le-membership-dialog .op-bsw-grey-panel-content.op-bsw-grey-panel-no-sidebar:first-of-type {
	border: 0;
	}

#le-membership-dialog .op-bsw-grey-panel-header h3 a, #le-membership-dialog .op-bsw-grey-panel-header h3 {
	color: #004a80 !important;
	font-size: 16px;
	font-weight: bold;
	float: left;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff;
	margin-top: 8px;
	}

#le-membership-dialog label.form-title {
	font-weight: bold;
	font-size: 12px;
	margin: 18px 0px 5px 0px;
	cursor: pointer;
	}

#le-membership-dialog .op-bsw-grey-panel-content > label.form-title:first-child {
	margin-top: -7px;
	}

#le-membership-dialog p {
	color: #666 !important;
	font-style: normal !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 18px;
	}

#le-membership-dialog p.op-micro-copy {
	margin: -4px 0px 10px 0px;
	}

#le-membership-dialog select  {
	height: auto !important;
	margin: 0 15px 0 0 !important;
	}



/* Lightbox - Typography */

#le-typography-dialog {
	height: auto;
	width: 760px;
	}

#le-typography-dialog .dialog-content {
	padding: 25px;
	}

#le-typography-dialog label.form-title {
	font-weight: bold;
	font-size: 12px;
	margin: 20px 0px 5px 0px;
	cursor: pointer;
	}

#le-typography-dialog p {
	color: #666 !important;
	font-style: normal !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 18px;
	margin: -4px 0px 10px 0px;
	}

#le-typography-dialog .font-chooser {
	display: block;
	padding: 0;
	margin: 0;
	clear: both;
	}

#le-typography-dialog .select-font {
	width: 200px !important;
	margin: 0px 15px 0px 0px !important;
	font-size: 12px !important;
	}

#le-typography-dialog .font-chooser select {
	margin: 0 15px 0 0 !important;
	}

#le-typography-dialog .color-picker-container input {
	width: 90px !important;
	}

#le-typography-dialog .color-picker-container a.pick-color {
	margin: 0 15px;
	}

#le-typography-dialog .font-chooser a.reset-link {
	position: relative;
	top: 10px;
	font-size: 12px;
	}

#color-picker {
	z-index: 100009;
	}


/* Lightbox - Color Settings */

#le-colours-dialog {
	height: auto;
	width: 760px;
	}

#le-colours-dialog .settings-container {
	padding: 0px !important;
	margin: 0px !important;
	}

#le-colours-dialog .op-bsw-grey-panel-content.op-bsw-grey-panel-no-sidebar:first-of-type {
	border: 0;
	}

#le-colours-dialog .op-bsw-grey-panel-header h3 a, #le-colours-dialog .op-bsw-grey-panel-header h3 {
	color: #004a80 !important;
	font-size: 16px;
	font-weight: bold;
	float: left;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff;
	margin-top: 8px;
	}

#le-colours-dialog label.form-title {
	font-weight: bold;
	font-size: 12px;
	margin: 18px 0px 5px 0px;
	cursor: pointer;
	}

#le-colours-dialog .op-bsw-grey-panel-content > label.form-title:first-child {
	margin-top: -7px;
	}

#le-colours-dialog .op-bsw-grey-panel-content > .op-bsw-grey-panel:first-child {
	margin-top: 0px;
	}

#le-colours-dialog p {
	color: #666 !important;
	font-style: normal !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 18px;
	}

#le-colours-dialog p.op-micro-copy {
	margin: -4px 0px 10px 0px;
	}

#le-colours-dialog select  {
	height: 40px !important;
	}

#le-colours-dialog .font-chooser a.reset-link {
	position: relative;
	top: 10px;
	font-size: 12px;
	}

#le-colours-dialog .img-radio-item:nth-child(4n) {
	margin-right: 25px !important;
	}

#le-colours-dialog .section-color_scheme_advanced {
	margin-bottom:  -25px;
	}

#le-colours-dialog .op-bsw-grey-panel-content.op-bsw-grey-panel-no-sidebar p.op-micro-copy:nth-of-type(2) {
	margin-top: 15px;
	}


/* Lightbox - Page settings */
#le-settings-dialog .section-gateway_override { margin-top: 25px; }

/* Lightbox - Membership */

#le-membership-dialog {
	height: auto;
	width: 760px;
	}

#le-memebership-dialog .dialog-content {
	padding: 25px;
	}


.op_asset_browser_slide .field-id-op_assets_core_optin_box_tabs_form_html_list { margin-bottom: 0; }
#op_asset_browser_container .field-id-op_assets_core_optin_box_tabs_form_html_list select { margin-bottom: 0 !important; }
.field-id-op_assets_core_optin_box_tabs_form_html_loading_time { margin-top: 5px; }
.field-id-op_assets_core_optin_box_tabs_form_html_loading_time p {
	font-style: italic;
	font-size: .9em;
}

/* Lightbox - Template Settings */

#le-settings-dialog {
	height: auto;
	width: 760px;
	}

#le-settings-dialog .settings-container {
	padding: 25px 25px 0 25px !important;
	}


#le-settings-dialog .op-bsw-grey-panel-header h3 a, #le-settings-dialog .op-bsw-grey-panel-header h3 {
	color: #004a80 !important;
	font-size: 16px;
	font-weight: bold;
	float: left;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff;
	margin-top: 8px;
	}

#le-settings-dialog label.form-title {
	font-weight: bold;
	font-size: 12px;
	margin: 18px 0px 5px 0px;
	cursor: pointer;
	}

#le-settings-dialog .op-bsw-grey-panel-content > label.form-title:first-child {
	margin-top: -7px;
	}

#le-settings-dialog p {
	color: #666 !important;
	font-style: normal !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 18px;
	}

#le-settings-dialog p.op-micro-copy {
	margin: -4px 0px 10px 0px;
	}

#le-settings-dialog select {
	height: auto !important;
	}

#le-settings-dialog .op-multirow-controls {
	margin-top: 10px;
	font-size: 12px;
	color: #666;
	}

#le-settings-dialog .op-multirow-controls a {
	font-size:12px;
	font-family:"Helvetica Neue", Helvetica, Sans-serif;
	color:#666;
	}

#le-settings-dialog .op-multirow-list select,
#le-settings-dialog .section-one_time_offer select,
#le-settings-dialog #launch_funnel_select select,
#le-settings-dialog  #launch_funnel_new input {
	margin-bottom: 15px !important;
	}

#le-settings-dialog .section-one_time_offer select {
	display: inline;
	}


/* Lightbox - Help */

#le-help-dialog {
	height: auto;
	width: 760px;
	}

#le-help-dialog .op-lightbox-content {
	padding: 25px;
	padding-bottom: 0px !important;
	}

#le-help-dialog ul {
	width: 710px;
	margin: 0 auto;
	}

#le-help-dialog li {
	margin-bottom: 25px;
	}

#le-help-dialog li a {
	background-color: #f2f2f2;
	-webkit-border-radius: 4px;
           -moz-border-radius: 4px;
           -ms-border-radius: 4px;
           -o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff;
	-moz-box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff;
	-ms-box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff;
	-o-box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff;
	box-shadow: inset 0 0 0 1px #ccc, inset 0 2px 0 0 #fff;
	display: block;
	width: 660px;
	height: 85px;
	padding: 25px;
	padding-left: 0;
	}

#le-help-dialog li a img {
	margin-top: 19px;
	float: left;
	}

#le-help-dialog li a .content {
	float: left;
	display: block;
	width: 545px;
	margin-left: 25px;
	font-size: 12px;
	}

#le-help-dialog li a h2 {
	margin: 0 0 10px 0;
	}

#le-help-dialog li a .content span {
	color: #666;
	line-height: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

#le-help-dialog li a:hover h2 {
	color: #004a80 !important;
	}


/* Lightbox - Presets */

#le-presets-dialog {
	height: auto;
	width: 760px;
	}

#le-presets-dialog .op-lightbox-content {
	padding: 25px;
	}

#le-presets-dialog .op-bsw-grey-panel-content.op-bsw-grey-panel-no-sidebar:first-of-type {
	border: 0;
	}

#le-presets-dialog .op-bsw-grey-panel-header h3 a, #le-presets-dialog .op-bsw-grey-panel-header h3 {
	color: #004a80 !important;
	font-size: 16px;
	font-weight: bold;
	float: left;
	text-shadow: 0 0 1px #fff, 0 0 1px #fff;
	margin-top: 8px;
	}

#le-presets-dialog label.form-title {
	font-weight: bold;
	font-size: 12px;
	margin: 18px 0px 5px 0px;
	cursor: pointer;
	}

#le-presets-dialog .op-bsw-grey-panel-content > label.form-title:first-child {
	margin-top: -7px;
	}

#le-presets-dialog p {
	color: #666 !important;
	font-style: normal !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 18px;
	}

#le-presets-dialog p.op-micro-copy {
	margin: -4px 0px 10px 0px;
	}

#le-presets-dialog select  {
	height: auto !important;
	margin: 0 0 15px 0 !important;
	}

/* LIghtbox - row options */
#op-le-row-options p.op-micro-copy {
	margin: -4px 0px 10px 0px;
	color: #666666;
    font-size: 12px;
	}
#op-le-row-options input[type="text"] {
	width : 19%;
	}
#op-le-row-options .font-chooser {
	display: block;
	padding: 0;
	margin: 0;
	clear: both;
	}

#op-le-row-options .select-font {
	width: 200px !important;
	margin: 0px 15px 0px 0px !important;
	font-size: 12px !important;
	}

#op-le-row-options .font-chooser select {
	margin: 0 15px 0 0 !important;
	}

#op-le-row-options .color-picker-container input {
	display: inline;
	width: 90px !important;
	}

#op-le-row-options .color-picker-container a.pick-color {
	/*margin: -10px 0px -14px 11px !important;*/
	display: inline-block !important;
	height: 38px !important;
	width: 38px !important;
	}

#op-le-row-options .font-chooser a.reset-link {
	position: relative;
	top: 10px;
	font-size: 12px;
	}


#op-le-row-options {
	width: 760px;
	height: auto;
	}

#op-le-row-options .op-lightbox-content {
	margin: 25px 0 25px 25px;
	}

#op-le-row-options h2 {
	font-size: 12px !important;
	}

#op-le-row-options .op-lightbox-content ul {
	margin: 0;
	}

#op-le-row-options .op-lightbox-content ul#op-complex-layouts {
	margin-bottom: -25px;
	}

#op-le-row-options .op-lightbox-content ul li {
	float: left;
	display: block;
	margin: -5px 17px 15px -3px;
	}

#op-le-row-options li div {
	height: 128px;
	width: 108px;
	background-position: 0 0;
	background-repeat: no-repeat;
	}

#op-le-row-options li:hover div {
	background-position: 0 -128px;
	}

#op-le-row-options li.selected div {
	background-position: 0 -256px;
	}

	/* LIghtbox - advanced element options */
#op-le-advanced p.op-micro-copy {
	margin: -4px 0px 10px 0px;
	color: #666666;
    font-size: 12px;
	}
#op-le-advanced input[type="text"] {
	width : 19%;
	}

#op-le-advanced textarea {
	width : 80%;
	}
#op-le-advanced .font-chooser {
	display: block;
	padding: 0;
	margin: 0;
	clear: both;
	}

#op-le-advanced .select-font {
	width: 200px !important;
	margin: 0px 15px 0px 0px !important;
	font-size: 12px !important;
	}

#op-le-advanced .font-chooser select {
	margin: 0 15px 0 0 !important;
	}

#op-le-advanced .color-picker-container input {
	display: inline;
	width: 90px !important;
	}

#op-le-advanced .color-picker-container a.pick-color {
	/*margin: -10px 0px -14px 11px !important;*/
	display: inline-block !important;
	height: 38px !important;
	width: 38px !important;
	}

#op-le-advanced .font-chooser a.reset-link {
	position: relative;
	top: 10px;
	font-size: 12px;
	}


#op-le-advanced {
	width: 760px;
	height: auto;
	}

#op-le-advanced .op-lightbox-content {
	margin: 25px 0 25px 25px;
	}

#op-le-advanced h2 {
	font-size: 12px !important;
	}

#op-le-advanced .op-lightbox-content ul {
	margin: 0;
	}

#op-le-advanced .op-lightbox-content ul#op-complex-layouts {
	margin-bottom: -25px;
	}

#op-le-advanced .op-lightbox-content ul li {
	float: left;
	display: block;
	margin: -5px 17px 15px -3px;
	}

#op-le-advanced li div {
	height: 128px;
	width: 108px;
	background-position: 0 0;
	background-repeat: no-repeat;
	}

#op-le-advanced li:hover div {
	background-position: 0 -128px;
	}

#op-le-advanced li.selected div {
	background-position: 0 -256px;
	}

/* Lightbox - split column */

#op-le-split-column {
	width: 760px;
	height: auto;
	}

#op-le-split-column .op-lightbox-content {
	padding: 25px 0 25px 25px;
	}

#op-le-split-column h2 {
	font-size: 12px !important;
	}

#op-le-split-column .op-lightbox-content ul {
	margin: 0;
	}

#op-le-split-column .op-lightbox-content ul#op-complex-layouts {
	margin-bottom: -25px;
	}

#op-le-split-column .op-lightbox-content ul li {
	float: left;
	display: block;
	margin: -5px 17px 15px -3px;
	}

#op-le-split-column li div {
	height: 128px;
	width: 108px;
	background-position: 0 0;
	background-repeat: no-repeat;
	}

#op-le-split-column li:hover div {
	background-position: 0 -128px;
	}

#op-le-split-column li.selected div {
	background-position: 0 -256px;
	}

#op-le-split-column li div.layout_simple_1 { background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-split-column li div.layout_simple_2 { background-image: url('../images/live_editor/columns/layout_simple_2.png'); }
#op-le-split-column li div.layout_simple_3 { background-image: url('../images/live_editor/columns/layout_simple_3.png'); }
#op-le-split-column li div.layout_simple_4 { background-image: url('../images/live_editor/columns/layout_simple_4.png'); }
#op-le-split-column li div.layout_simple_5 { background-image: url('../images/live_editor/columns/layout_simple_5.png'); }
#op-le-split-column li div.layout_complex_1 { background-image: url('../images/live_editor/columns/layout_complex_1.png'); }
#op-le-split-column li div.layout_complex_2 { background-image: url('../images/live_editor/columns/layout_complex_2.png'); }
#op-le-split-column li div.layout_complex_3 { background-image: url('../images/live_editor/columns/layout_complex_3.png'); }
#op-le-split-column li div.layout_complex_4 { background-image: url('../images/live_editor/columns/layout_complex_4.png'); }
#op-le-split-column li div.layout_complex_5 { background-image: url('../images/live_editor/columns/layout_complex_5.png'); }
#op-le-split-column li div.layout_complex_6 { background-image: url('../images/live_editor/columns/layout_complex_6.png'); }
#op-le-split-column li div.layout_complex_7 { background-image: url('../images/live_editor/columns/layout_complex_7.png'); }
#op-le-split-column li div.layout_complex_8 { background-image: url('../images/live_editor/columns/layout_complex_8.png'); }
#op-le-split-column li div.layout_complex_9 { background-image: url('../images/live_editor/columns/layout_complex_9.png'); }
#op-le-split-column li div.layout_complex_10 { background-image: url('../images/live_editor/columns/layout_complex_10.png'); }
#op-le-split-column li div.layout_complex_11 { background-image: url('../images/live_editor/columns/layout_complex_11.png'); }
#op-le-split-column li div.layout_complex_12 { background-image: url('../images/live_editor/columns/layout_complex_12.png'); }
#op-le-split-column li div.layout_complex_13 { background-image: url('../images/live_editor/columns/layout_complex_13.png'); }
#op-le-split-column li div.layout_complex_14 { background-image: url('../images/live_editor/columns/layout_complex_14.png'); }
#op-le-split-column li div.layout_complex_15 { background-image: url('../images/live_editor/columns/layout_complex_15.png'); }
#op-le-split-column li div.layout_complex_16 { background-image: url('../images/live_editor/columns/layout_complex_16.png'); }
#op-le-split-column li div.layout_complex_17 { background-image: url('../images/live_editor/columns/layout_complex_17.png'); }
#op-le-split-column li div.layout_complex_18 { background-image: url('../images/live_editor/columns/layout_complex_18.png'); }

/* Lightbox - Add New Row */

#op-le-row-select {
	width: 760px;
	height: auto;
	}

#op-le-row-select .op-lightbox-content {
	padding: 25px 0 25px 25px;
	}

#op-le-row-select h2 {
	font-size: 12px !important;
	}

#op-le-row-select .op-lightbox-content ul {
	margin: 0;
	}

#op-le-row-select .op-lightbox-content ul#op-complex-layouts {
	margin-bottom: -25px;
	}

#op-le-row-select .op-lightbox-content ul li {
	float: left;
	display: block;
	margin: -5px 17px 15px -3px;
	}

#op-le-row-select li div {
	height: 128px;
	width: 108px;
	background-position: 0 0;
	background-repeat: no-repeat;
	}

#op-le-row-select li:hover div {
	background-position: 0 -128px;
	}

#op-le-row-select li.selected div {
	background-position: 0 -256px;
	}

#op-le-row-select li div.layout_simple_1 { background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.layout_simple_2 { background-image: url('../images/live_editor/columns/layout_simple_2.png'); }
#op-le-row-select li div.layout_simple_3 { background-image: url('../images/live_editor/columns/layout_simple_3.png'); }
#op-le-row-select li div.layout_simple_4 { background-image: url('../images/live_editor/columns/layout_simple_4.png'); }
#op-le-row-select li div.layout_simple_5 { background-image: url('../images/live_editor/columns/layout_simple_5.png'); }
#op-le-row-select li div.layout_complex_1 { background-image: url('../images/live_editor/columns/layout_complex_1.png'); }
#op-le-row-select li div.layout_complex_2 { background-image: url('../images/live_editor/columns/layout_complex_2.png'); }
#op-le-row-select li div.layout_complex_3 { background-image: url('../images/live_editor/columns/layout_complex_3.png'); }
#op-le-row-select li div.layout_complex_4 { background-image: url('../images/live_editor/columns/layout_complex_4.png'); }
#op-le-row-select li div.layout_complex_5 { background-image: url('../images/live_editor/columns/layout_complex_5.png'); }
#op-le-row-select li div.layout_complex_6 { background-image: url('../images/live_editor/columns/layout_complex_6.png'); }
#op-le-row-select li div.layout_complex_7 { background-image: url('../images/live_editor/columns/layout_complex_7.png'); }
#op-le-row-select li div.layout_complex_8 { background-image: url('../images/live_editor/columns/layout_complex_8.png'); }
#op-le-row-select li div.layout_complex_9 { background-image: url('../images/live_editor/columns/layout_complex_9.png'); }
#op-le-row-select li div.layout_complex_10 { background-image: url('../images/live_editor/columns/layout_complex_10.png'); }
#op-le-row-select li div.layout_complex_11 { background-image: url('../images/live_editor/columns/layout_complex_11.png'); }
#op-le-row-select li div.layout_complex_12 { background-image: url('../images/live_editor/columns/layout_complex_12.png'); }
#op-le-row-select li div.layout_complex_13 { background-image: url('../images/live_editor/columns/layout_complex_13.png'); }
#op-le-row-select li div.layout_complex_14 { background-image: url('../images/live_editor/columns/layout_complex_14.png'); }
#op-le-row-select li div.layout_complex_15 { background-image: url('../images/live_editor/columns/layout_complex_15.png'); }
#op-le-row-select li div.layout_complex_16 { background-image: url('../images/live_editor/columns/layout_complex_16.png'); }
#op-le-row-select li div.layout_complex_17 { background-image: url('../images/live_editor/columns/layout_complex_17.png'); }
#op-le-row-select li div.layout_complex_18 { background-image: url('../images/live_editor/columns/layout_complex_18.png'); }

/*feature areas*/
#op-le-row-select li div.feature_area_1 { background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.feature_area_2 { background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.feature_area_3{ background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.feature_area_4 { background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.feature_area_5{ background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.feature_area_6{ background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.feature_area_7 { background-image: url('../images/live_editor/columns/layout_simple_1.png'); }
#op-le-row-select li div.feature_area_8 { background-image: url('../images/live_editor/columns/layout_simple_1.png'); }



/* Lightbox - Feature Area */

.op-feature-area {
	padding: 0px;
	cursor: pointer;
	}

.op-feature-area .op-lightbox-content {
	padding: 0 25px;
	min-width: 500px;
	}

#feature_area_video .op-lightbox-content {
	padding: 25px;
	}

#feature_area_optin .op-lightbox-content .op-bsw-grey-panel-tab-content-container {
	width: 450px;
	padding: 25px;
	}

.op-feature-area .op-lightbox-content p {
	color: #666 !important;
	font-style: normal !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 18px;
	}

.op-feature_area select, #feature_area_optin select {
	height: auto !important;
	}

.op-live-editor .op-feature-area .op-feature-settings {
	display: none;
	}

#feature_area_video .op-type-switcher-container {
	padding-bottom: 30px;
	}


.contains-module-signup_form .op-micro-copy {
	text-align: left;
	}

/* Lightbox - Epicbox */

#epicbox-overlay {
	background-color: #000;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 88999;
	}

#epicbox {
	background-color: #fff !important;
	border: 1px solid #000;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px;
	border-radius: 6px !important;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	width: 500px;
	max-height: 90%;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -270px;
	z-index: 89000;
	}

#epicbox .epicbox-content {
	overflow-y: scroll;
	}

#epicbox .epicbox-content .epicbox-scroll {
	padding: 0px;
	}

#epicbox .epicbox-actual-content {
	padding: 20px;
	}

#epicbox .add-new-row-content,
#epicbox .add-new-element{
	margin-top: 0px !important;
	text-decoration: none;
	}

#epicbox .close {
	background-image: url('../js/fancybox/fancybox_close.png');
	position: absolute;
	top: -22px;
	right: -22px;
	width: 44px;
	height: 44px;
	cursor: pointer;
	z-index: 100004;
	}

#epicbox {
	padding: 0px;
	border-radius: 0px;
	width: 800px;
	margin-left: -400px;
	}

#epicbox .epicbox-scroll > h1 {
	font-family: "Helvetica Neue", Helvetica, sans-serif !important;
	font-size: 28px !important;
	font-weight: bold !important;
	color: #fff !important;
	text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
	margin-bottom: 0px;
	padding: 33px 25px 0px 25px;
	height: 67px;
	background: #404040;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404040), color-stop(100%,#2c2c2c));
	background: -webkit-linear-gradient(top, #404040 0%,#2c2c2c 100%);
	background: -moz-linear-gradient(top, #404040 0%, #2c2c2c 100%);
	background: -ms-linear-gradient(top, #404040 0%,#2c2c2c 100%);
	background: -o-linear-gradient(top, #404040 0%,#2c2c2c 100%);
	background: linear-gradient(top, #404040 0%,#2c2c2c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#2c2c2c',GradientType=0 );
	-webkit-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-ms-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	-o-box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	box-shadow: inset 0 -1px 0 0px rgba(0,0,0,1);
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #000000;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}


/* Buttons */

.editor-button {
	background: #208000;
	background: -moz-linear-gradient(top,  #269800 0%, #228a00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#269800), color-stop(100%,#228a00));
	background: -webkit-linear-gradient(top,  #269800 0%,#228a00 100%);
	background: -o-linear-gradient(top,  #269800 0%,#228a00 100%);
	background: -ms-linear-gradient(top,  #269800 0%,#228a00 100%);
	background: linear-gradient(top,  #269800 0%,#228a00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#269800', endColorstr='#228a00',GradientType=0 );
	-moz-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.15), inset 0 1px 0 0 rgba(255,255,255,0.15), 0 1px 0 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.15), inset 0 1px 0 0 rgba(255,255,255,0.15), 0 1px 0 0 rgba(0,0,0,0.15);
	box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.15), inset 0 1px 0 0 rgba(255,255,255,0.15), 0 1px 0 0 rgba(0,0,0,0.15);
	border: 1px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	height: 48px;
	width: auto;
	padding: 0 25px 0 25px !important;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 1px #000, 0 0 1px #000, 0 1px 1px #000;
	cursor: pointer;
	}

.editor-button.grey-button {
	background: #595959;
	background: -moz-linear-gradient(top,  #595959 0%, #525252 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#525252));
	background: -webkit-linear-gradient(top,  #595959 0%,#525252 100%);
	background: -o-linear-gradient(top,  #595959 0%,#525252 100%);
	background: -ms-linear-gradient(top,  #595959 0%,#525252 100%);
	background: linear-gradient(top,  #595959 0%,#525252 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#525252',GradientType=0 );
	-moz-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 0 -1px 0 rgba(255,255,255,0.1), inset 0 1px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.1);
	}




/* Unsorted Styles */


form.op-feature-area .module-signup_form { display: block }




.video-plugin {
	background: #000 url('../images/live_editor/op-play.jpg') no-repeat center center;
}

/* qq file uploader */

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
	display:block; /* or inline-block */
	width: 105px; padding: 7px 0; text-align:center;
	background:#880000; border-bottom:1px solid #ddd;color:#fff;
	}

.qq-upload-button-hover {background:#cc0000;}

.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
	position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
	background:#FF9797; text-align:center;
	}

.qq-upload-drop-area span {
    	display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:12px;
	}

.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}

.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}

.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
	}

.qq-upload-file {}

.qq-upload-spinner {display:inline-block; background: url("../images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}

.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}

.qq-upload-fail .qq-upload-failed-text {display:inline;}

.op-live-editor .fancybox-inner .op-feature-area {
	cursor: default
	}

.file-preview .preview-image img {
	max-width: 400px;
	display: block;
	}

#TB_overlay {
	z-index: 100020;
	}

#TB_window {
	z-index: 100021;
	}


.op-le-shortcode, .op-hidden, #wpadminbar {
	display: none;
	}

.featured-panel-style-1.featured-panel-8 .row .twentyfour.columns .op-feature-area {
	padding-bottom: 20px !important;
	}



.audio-plugin a {
	background-image: url('../images/live_editor/audio-plugin.png') !important;
	background-repeat: no-repeat !important;
	background-position: top left !important;
	height: 32px !important;
	widows: 305px !important;
	display: block;
	background-color: #000;
	border-radius: 3px;
	}

.audio-plugin {
	margin: 10px 0px 10px !important;
	}

.one-time-offer-placeholder {
	background-image: url('../images/live_editor/one_time_offer_countdown.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 77px;
	margin: 0px 0px 20px;
	}
/******split columns *******/
.split-column {
	bottom: -16px;
	left: 50%;
	margin-left: -11px;
	position: absolute;
	display: none;
}
.cols {position:relative;}

/**
 * LiveEditor sidebar
 */
/*html*/.op-live-editor {
	padding-left: 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar {
	padding: 0 35px 0 15px;
	width: 230px;
	height: 100%;
	overflow: auto;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar > .container {
	width: auto;
	padding-bottom: 15px;
	}

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar .container ul {
	float: none;
	display: block;
	font-size: 12px;
	margin-bottom: 0;
	}

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar .container ul li {
	margin: 0 0 5px 0;
	float: none;
	width: auto;
	height: auto;
	}

/* Landing Page Theme 5 Specific Override */
.landing-page-theme-5 #op-le-settings-toolbar.op-le-settings-toolbar--sidebar .container ul li { width: 164px; }

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar .links {
	clear: both;
	padding: 20px 0 0;
	}

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar .links a,
.create-link #op-le-settings-toolbar.op-le-settings-toolbar--sidebar .links a {
	color :#777 !important;
	text-decoration: none;
	display: block;
	background: none !important;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar .links a:hover,
.create-link #op-le-settings-toolbar.op-le-settings-toolbar--sidebar .links a:hover {
	color :#fff !important;
	}

#op-le-settings-toolbar.op-le-settings-toolbar--sidebar .links img {
	width: 20px;
	height: auto;
	vertical-align: middle;
	margin-right: 10px;
	}

#op-le-settings-toolbar .container .op-logo {
	width: auto;
	margin-right: 15px;
	margin-top: 20px;
	max-width: 145px;
	}

/*html*/.op-live-editor {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	}

#op-live-editor-status {
	width: 100% !important;
	padding: 5px;
	display: block;
	}

.toggle-container {
	width: 100%;
	height: auto;
	margin: 30px 0 13px;
	float: none;
	clear: both;
	padding: 4px;
	color: #999;
	cursor: pointer;
	font-size: 12px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

.toggle-container img {
	width: 20px;
	height: auto;
	position: relative;
	top: 1px;
	margin: 0 3px;
	}

.save-options .op-pb-button,
.link-container .op-pb-button {
	margin: 0 0 10px 0;
	padding: 10px 0;
	width: 100%;
	font-size: 12px;
	height: auto;
	display: block;
	color: #fff;
	text-align: center;
	line-height: normal;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

.op-le-toolbar--sidebar {
	margin: 0 0 15px 0;
	}

#op-le-settings-toolbar .container,
#op-le-toolbar .container {
	width: auto;
	}

.op-le-settings-toolbar--sidebar,
.op-le-toggle-sidebar {
	-moz-transition: left .2s ease-in-out;
	-webkit-transition: left .2s ease-in-out;
	-o-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;
	}

/*html*/.op-live-editor {
	-moz-transition: padding .2s ease-in-out;
	-webkit-transition: padding .2s ease-in-out;
	-o-transition: padding .2s ease-in-out;
	transition: padding .2s ease-in-out;
	}

/*html*/.op-le-settings-toolbar--hidden {
	padding-left: 0;
	}

/**
 * Custom webkit scrollbar
 */
.op-le-settings-toolbar--sidebar::-webkit-scrollbar {
	width: 8px;
	}

/* Track */
.op-le-settings-toolbar--sidebar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 5px;
	}

/* Handle */
.op-le-settings-toolbar--sidebar::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
	}

.op-le-settings-toolbar--sidebar::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
	}

/**
 * Toggle sidebar button
 * <div class="op-le-toggle-sidebar">
		<a class="op-le-toggle-sidebar-btn">Toogle sidebar</a>
	</div>
 */
.op-le-toggle-sidebar {
	position: fixed;
	left: 210px;
	top: 0;
	width: 20px;
	height: 100%;
	border-right: 1px solid #ccc;
	background: #ECECEC;
	cursor: pointer;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.1), inset 4px 0 10px -4px rgba(0,0,0,.5);
	box-shadow: 0 0 6px rgba(0,0,0,.1), inset 4px 0 10px -4px rgba(0,0,0,.5);
	}

.create-link .op-le-toggle-sidebar-btn,
.op-le-toggle-sidebar-btn {
	margin-top: -10px;
	position: absolute;
	top: 50%;
	left: 0;
	text-indent: -200px;
	overflow: hidden;
	width: 20px;
	height: 30px;
	white-space: nowrap;
	cursor: pointer;
	border: none;
	background: url('../images/back-arrows.png') 7px -31px no-repeat !important;
	}

.op-le-toggle-sidebar-btn:hover,
.op-le-toggle-sidebar:hover .op-le-toggle-sidebar-btn {
	border: none;
	background-position: 7px 8px;
	}

/* When sidebar is hidden */
/*html*/.op-le-settings-toolbar--hidden .op-le-toggle-sidebar-btn {
	background: url('../images/nav-arrows.png') 7px -31px no-repeat !important;
	}

/*html*/.op-le-settings-toolbar--hidden .op-le-toggle-sidebar-btn:hover,
/*html*/.op-le-settings-toolbar--hidden .op-le-toggle-sidebar:hover .op-le-toggle-sidebar-btn {
	background-position: 7px 8px;
	}

/*html*/.op-le-settings-toolbar--hidden #op-le-settings-toolbar.op-le-settings-toolbar--sidebar {
	left: -210px;
}

/*html*/.op-le-settings-toolbar--hidden .op-le-toggle-sidebar {
	left: 0;
}


#op_page_thumbnail_preset {
    float: right;
    margin: 0 415px 0 0;
    width: 145px;
}

#op_assets_core_headline_content_ifr{height:223px !important;}

.op_assets_core_headline_content_ifr{height:223px !important;}

#changeMembershipType {display: inline-block; font-size:12px;}


/**
 * Tweaks for floating-featured-panel-fluid
 */
.floating-featured-panel-fluid .fixed-width { width: auto; }
.floating-featured-panel-fluid .cols { margin: 0; }
.featured-panel-style-2 #op_asset_browser_slider p { text-align: left; }
