/*html.op-live-editor { margin-top: 100px !important; margin-bottom: 100px !important; padding-bottom: 100px !important; }*/
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	html {
		height: 100%;
		}
	body {
		min-height: 100%;
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

	.cf:before,
	.cf:after {
	    content:"";
	    display:table;
	}

	.cf:after {
	    clear:both;
	}

	/* For IE 6/7 (trigger hasLayout) */
	.cf {
	    zoom:1;
	}


/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		line-height:1.1em}
	h4, h5, h6 {
	line-height:1.3em;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; margin-bottom: 14px;}
	h2 { font-size: 35px; margin-bottom: 10px; }
	h3 { font-size: 28px; margin-bottom: 8px; }
	h4 { font-size: 21px; margin-bottom: 4px; }
	h5 { font-size: 17px; margin-bottom: 4px; }
	h6 { font-size: 14px; margin-bottom: 4px; }
	.subheader { color: #777; }

	p { margin: 0 0 1.1em 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;line-height:1.5em; }
	p img { margin: 0; max-width:100%; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 85%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block;  color: #555; /*font-size: 12px;*/ }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #2e82bc; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #005580; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 0px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 1.6em; margin-bottom: 12px; }
	ul.large li { line-height: 1.6em; }
	li p { line-height: 1.6em; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


	/* #Buttons
================================================== */

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


	button, input {
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	button {cursor:pointer;}


/* #Tabs (activate in tabs.js)
================================================== */
	ul.tabs {
		display: block;
		margin: 0 0 20px 0;
		padding: 0;
		border-bottom: solid 1px #ddd; }
	ul.tabs li {
		display: block;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; }
	ul.tabs li a {
		display: block;
		text-decoration: none;
		width: auto;
		height: 29px;
		padding: 0px 20px;
		line-height: 30px;
		border: solid 1px #ddd;
		border-width: 1px 1px 0 0;
		margin: 0;
		background: #f5f5f5;
		font-size: 13px; }
	ul.tabs li a.active {
		background: #fff;
		height: 30px;
		position: relative;
		top: -4px;
		padding-top: 4px;
		border-left-width: 1px;
		margin: 0 0 0 -1px;
		color: #111;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px;
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; }
	ul.tabs li:first-child a.active {
		margin-left: 0; }
	ul.tabs li:first-child a {
		border-width: 1px 1px 0 1px;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px; }
	ul.tabs li:last-child a {
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; }

	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }



/* #Forms
================================================== */

	form {
		margin-bottom: 0px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

.cols {
	margin: 0px 10px;
	float: left;
	min-height: 1px;
}

.floating-featured-panel-fluid .cols { margin: 0; }


/**
 * Video plugin
 */
.video-plugin {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: 100%;
}

/*.video-plugin > * {
	display: none;
}*/

.video-plugin > div {
	line-height: 0 !important;
	margin: 0 !important;
	display: block;
}

.video-plugin > script:first-child {
	display: none;
}

.video-plugin * {
	max-width: 100% !important;
	/*height: 100% !important;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.video-plugin.not-flowplayer * {
	height: 100% !important;
}

.video-plugin p {
	line-height: 1 !important;
}

.video-plugin .fp-message {
	text-decoration: none;
}

.flowplayer.is-poster,
.flowplayer video {
	background: #000;
}

.flowplayer.is-poster {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.flowplayer.hide-controls .fp-ui * {
	display: none;
}

.flowplayer .fp-ratio {
	display: none;
}

.video-plugin-lightbox .fp-ratio {
	display: block;
}

.flowplayer .fp-message {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * Flowplayer customization for audio
 */

.flowplayer .fp-embed,
.audio-plugin .fp-embed {
	display: none !important;
}

.audio-plugin .is-paused.flowplayer .fp-ui {
	background: url(img/play_white.png) center no-repeat;
	background-size: 20px;
	background-position: 5px 5px;
}

.audio-plugin .flowplayer .fp-waiting {
	margin: 8px auto 0;
}

.audio-plugin .flowplayer .fp-waiting em {
	width: 0.6em;
	height: 0.6em;
}

.audio-plugin .flowplayer.is-mouseout .fp-controls,
.audio-plugin .flowplayer.fixed-controls .fp-controls {
	height: 20px;
}

.audio-plugin .flowplayer .fp-message {
	padding-top: 0;
}

.audio-plugin .flowplayer.is-error h2 {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: normal;
}

.audio-plugin .flowplayer.is-mouseout .fp-fullscreen,
.audio-plugin .flowplayer.is-mouseout .fp-unload,
.audio-plugin .flowplayer.is-mouseout .fp-elapsed,
.audio-plugin .flowplayer.is-mouseout .fp-remaining,
.audio-plugin .flowplayer.is-mouseout .fp-duration,
.audio-plugin .flowplayer.is-mouseout .fp-embed,
.audio-plugin .flowplayer.is-mouseout .fp-logo,
.audio-plugin .flowplayer.is-mouseout .fp-volume,
.audio-plugin .flowplayer.is-mouseout .fp-play {
	opacity:1;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

.audio-plugin .flowplayer.is-mouseover .fp-timeline,
.audio-plugin .flowplayer.is-mouseout .fp-timeline {
	height: 3px;
	position: relative;
	overflow: hidden;
	top: 5px;
	height: 10px;
	margin: 0 150px 0 75px !important;
}

.audio-plugin .flowplayer .fp-play {
	display: block;
}

.audio-plugin .flowplayer .fp-elapsed {
	left: 35px;
}

.audio-plugin .is-mouseout.flowplayer .fp-controls,
.audio-plugin .is-mouseover.flowplayer .fp-controls {
	bottom: 3px;
}

.audio-plugin .flowplayer .fp-time em {
	bottom: 8px;
}

.audio-plugin .flowplayer video {
	border-radius: 3px;
}

.audio-plugin .flowplayer.is-touch.is-mouseout .fp-progress:after,
.audio-plugin .flowplayer.is-touch.is-mouseout .fp-progress:before{content:'';display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;position:absolute;right:-5px}
.audio-plugin .flowplayer.is-touch.is-rtl.is-mouseout .fp-progress:after,
.audio-plugin .flowplayer.is-touch.is-rtl.is-mouseout .fp-progress:before{right:auto;left:-5px}
.audio-plugin .flowplayer.is-touch.is-rtl.is-mouseout .fp-progress:after{left:-10px;-webkit-box-shadow:-1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:-1px 0 4px rgba(0,0,0,0.5);box-shadow:-1px 0 4px rgba(0,0,0,0.5)}
.audio-plugin .flowplayer.is-touch.is-mouseout .fp-progress:before{width:10px;height:10px}
.audio-plugin .flowplayer.is-touch.is-mouseout .fp-progress:after{height:10px;width:10px;top:-5px;right:-10px;border:5px solid rgba(255,255,255,0.65);-webkit-box-shadow:1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:1px 0 4px rgba(0,0,0,0.5);box-shadow:1px 0 4px rgba(0,0,0,0.5)}
.audio-plugin .flowplayer.is-touch.is-mouseout .fp-timeline.is-dragging .fp-progress:after{border:10px solid #fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;top:-10px;right:-15px}
.audio-plugin .flowplayer.is-touch.is-rtl.is-mouseout .fp-timeline.is-dragging .fp-progress:after{left:-15px;right:auto;border:10px solid #fff}

/*
.audio-plugin .flowplayer .fp-controls {
	height: 20px !important;
}
.audio-plugin .flowplayer .fp-timeline{-webkit-transition:height .15s .3s,top .15s .3s,margin .15s .3s;-moz-transition:height .15s .3s,top .15s .3s,margin .15s .3s;transition:height .15s .3s,top .15s .3s,margin .15s .3s;height:4px;top:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.audio-plugin .flowplayer .fp-waiting {
	display: none !important;
}
*/

.audio-plugin .mejs-overlay-play {
	display: none !important;
}

.audio-plugin .me-cannotplay span {
	padding-top: 4px;
}

/**
 * In theme 2 fixed-width is too wide for content, but the div itself cannot be removed
 */
.floating-featured-panel-fluid .fixed-width { width: auto; }

/**
 * PrettyPhoto changes
 */
body div.pp_default .pp_content_container .pp_details{margin-top:12px}

@media only screen and (max-width: 959px) {

	.video-plugin {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		width:100% !important;
		/*height:100% !important;*/
		height: auto !important;
	}

	.video-plugin iframe,
	.video-plugin object,
	.video-plugin embed,
	.video-plugin img,
	.video-plugin > :first-child,
	.video-plugin > script:first-child + * {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		max-width: 100%;
	}

	.video-plugin > :first-child,
	.video-plugin > script:first-child + * {
		display: block;
	}

	.video-plugin > script:first-child {
		display: none;
	}

	.video-plugin img {
		height: auto !important;
	}

	.video-plugin.not-flowplayer a {
		width: auto !important;
		height: auto !important;
		max-width: 100% !important;
		text-align: center;
	}

}