/* CSS FOR LAUNCH FUNNELS */


/* Page header */

.page-header {
	padding: 0;
	/*padding: 10px 0px;*/
	color: #fff;
}

.page-header, .page-header .navigation ul ul li {
	background-color: #252525;
}

.page-header.page-header-blue, .page-header.page-header-blue .navigation ul ul li {
	background-color: #37729e;
}


.page-header a {
	color: #fff;
	text-decoration: none;
}

.page-header .op-logo {
	float: left;
	font-size: 17px;
	line-height: 19px;
	padding: 0;
	margin: 0 80px 0 0;
	text-transform: uppercase;
}

.page-header {
	position: relative;
}

.page-header .navigation {
}

.page-header .navigation ul {
	list-style: none;
	margin: 0;
}

.page-header .navigation ul li {
	display: inline;
	margin-right: 10px;
}

.page-header .navigation a {
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
}

/* Page banner */

.banner {
	padding: 30px 0;
}

.banner.centered-banner {
	padding: 0;
}

.banner.centered-banner > .fixed-width {
	width: auto;
	text-align: center;
	padding: 0;
}

.banner.centered-banner > .fixed-width .banner-logo {
	margin-bottom: 0;
	overflow:hidden;
}

.banner.centered-banner > .fixed-width .banner-logo a {
	display: block;
	line-height: 0px;
}

/*Added code to handle banner header*/


.lf-3a .banner.centered-banner > .fixed-width .banner-logo {
margin: 0 auto;
width: 1020px;
overflow: hidden;
}

.banner a {
	color: #000;
	text-decoration: none;
}

.banner .op-logo {
	float: left;
	margin-right: 80px;
	min-height: 39px;
	font-size: 30px;
	line-height: 37px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.banner .op-logo img {
	display:inline-block;
	vertical-align:middle;
	max-width:250px;
	/*max-height:50px;*/
}

.banner h1.site-title {
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 10px;
}

.banner h2.site-description {
	font-size: 14px;
	color: #666;
	line-height: 16px;
}

.banner .navigation {
	/*float: right; */
	}

.banner .navigation ul {
	list-style: none;
	text-align: right;
	margin-bottom: 0px;
}

.banner .navigation ul li {
	display: inline;
	margin-right: 10px;
	line-height: 39px;
}

.banner .navigation a {
	font-weight: bold;
}

/* Featured panel */

.featured-panel .secure-icon {
	text-align: center;
}

.featured-panel-style-1.featured-panel-8 .row .twentyfour.columns .op-feature-area {
	padding-bottom: 20px !important;
}


.small-footer-text .inline-nav li {
	margin: 0;
	padding: 0 10px;
}

.small-footer-text .inline-nav li:first-child {
	border: 0;
}

body .container .launch-navbar .navigation ul li {
	display: inline !important;
	margin: 0 5px;
	float: none;
}

body .container .launch-navbar .navigation a {
	font-weight: bold;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	line-height: 19px;
	display: inline;
}

.launch-navbar a:hover {
	text-decoration: underline;
}

/* LF Styles */

.lf-3a body,
.lf-3b body {
	background-color: #f9f9f9;
}

.lf-3a .banner {
	background-color: #fff;
}

.lf-3a .main-content, .lf-3b .main-content {
	margin-bottom: 0;
	padding: 30px 0;
}

.lf-3a .main-content .main-content-area, .lf-3b .main-content .main-content-area {
	margin-bottom: 0px;
	background-color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	width: 960px;
	padding: 0 30px;
	margin: 0 auto;
}

.lf-4a body {
	background-color: #f9f9f9;
}

.lf-4a .page-header, .lf-4a .banner, .lf-4a .featured-panel, .lf-4a .launch-navbar {
	width: 1026px;
	margin: 0 auto;
}

.lf-4a .banner {
	background-color: #fff;
}

.lf-4a .main-content {
	width: 1026px;
	margin: 0 auto;
	position: relative;
}

.lf-4a .main-content > .left-corner {
	position: absolute;
	left: 0px;
}

.lf-4a .main-content > .right-corner {
	position: absolute;
	right: 0px;
}

.lf-4a .main-content .main-content-area {
	background-color: #fff;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	-o-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	width: 960px;
	padding: 0 20px 0 20px;
	margin: 0 auto 40px;
}

#content_area {
	padding-top: 0;
}

/* Navigation Bars */

.nav-bar-above,
.nav-bar-below {
	font-size: 14px;
	font-weight: normal;
}

.page-header .navigation a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	text-shadow: 0px 1px 1px #000, 0px 1px 1px rgba(0, 0, 0, 0.5);
	text-rendering:optimizelegibility;
}

.banner .navigation {
	/*margin-top: 10px;*/
}

.banner .navigation a{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-rendering: optimizelegibility;
}

.lf-3a .main-content .main-content-area .section, .lf-3b .main-content .main-content-area .section{
	margin-left:-30px;margin-right:-30px;
}

.lf-3a .main-content .main-content-area .section:last-child, .lf-3b .main-content .main-content-area .section:last-child {
			-webkit-border-bottom-right-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-bottomright: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
}

.lf-3a .main-content .main-content-area .section:first-child, .lf-3b .main-content .main-content-area .section:first-child {
			-webkit-border-top-right-radius: 3px;
			-webkit-border-top-left-radius: 3px;
			-moz-border-radius-topright: 3px;
			-moz-border-radius-topleft: 3px;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
}

/* Responsive Resizing Codes */

    @media only screen and (max-width: 1006px) {

    	.lf-3a .main-content .main-content-area .section:last-child, .lf-3b .main-content .main-content-area .section:last-child,
    	.lf-3a .main-content .main-content-area .section:first-child, .lf-3b .main-content .main-content-area .section:first-child  {
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			-o-border-radius: 0px;
			border-radius: 0px;
}

    	.lf-3a .main-content .main-content-area{width:auto;}

    	.lf-3a .main-content{padding: 0;}

    	.banner.centered-banner > .fixed-width .banner-logo img{
			width:100%;}

    	.lf-4a .page-header, .lf-4a .banner, .lf-4a .featured-panel, .lf-4a .launch-navbar {width: auto;}

		.lf-4a .main-content {width:auto;}

		.lf-4a .main-content > .left-corner, .lf-4a .main-content > .right-corner  {display:none;}

		.lf-4a .product-feature-tour {width:auto;}

		.lf-4a .main-content .main-content-area {
			background-color: #fff;
			-webkit-border-bottom-right-radius: 0px;
			-webkit-border-bottom-left-radius: 0px;
			-moz-border-radius-bottomright: 0px;
			-moz-border-radius-bottomleft: 0px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			-o-box-shadow: none;
			box-shadow: none;
			width: auto;
			margin-bottom:0;
			padding-bottom: 20px;
		}

		.footer-navigation {float:none;}

		.footer-copyright{padding-top:10px;padding-bottom:15px;width:100%;}

		.lf-3a .banner.centered-banner > .fixed-width .banner-logo {
			width: auto
			}

		.lf-3a .banner.centered-banner > .fixed-width .banner-logo {
			width:100%;
			}

    }

    @media only screen and (max-width: 768px) {

    .banner .op-logo {float:none;margin:0 auto;text-align:center;}
    .banner .op-logo img {float:none;margin:0 auto;}
    }