/* CSS MARKETING SITES TEMPLATES */

/* Page header */

.page-header {
	padding: 0px;
	/*padding: 10px 0px;*/
	color: #fff;
}

.page-header, .page-header .navigation ul ul li {
	background-color: #252525;
}

.page-header.page-header-blue, .page-header.page-header-blue .navigation ul ul li {
	background-color: #37729e;
}


#content_area {
	padding-top: 0px;
}

.page-header a {
	color: #fff;
	text-decoration: none;
}

.page-header .op-logo {
	float: left;
	font-size: 17px;
	line-height: 19px;
	padding: 0;
	margin: 0 80px 0 0;
	text-transform: uppercase;
}

.page-header {
	position: relative;
}

.page-header .navigation {
}

.page-header .navigation ul {
	list-style: none;
	margin: 0;
}

.page-header .navigation ul li {
	display: inline;
	margin-right: 10px;
}

.page-header .navigation a {
	font-weight: bold;
	font-size: 13px;
	line-height: 19px;
}


/* Page banner */


.banner {
	padding: 40px 0px;
}

.banner.centered-banner {
	padding: 0px;
}

.banner.centered-banner > .fixed-width {
	width: auto;
	text-align: center;
	padding: 0px;
}

.banner.centered-banner > .fixed-width .banner-logo {
	margin-bottom: 0px;
	margin: 0px auto;
	width:960px;
	overflow:hidden;
}



.banner.centered-banner > .fixed-width .banner-logo a {
	display: block;
	line-height: 0px;
}
.banner a {
	color: #000;
	text-decoration: none;
}

.banner .op-logo {
	float: left;
	margin-right: 80px;
	min-height: 39px;
	font-size: 30px;
	line-height: 37px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.banner .op-logo img {
	display:inline-block;
	vertical-align:middle;
	max-width: 250px;
	/*max-height: 50px;*/
}


.banner h1.site-title {
	font-size: 30px;
	line-height: 32px;
	margin-bottom: 10px;
}

.banner h2.site-description {
	font-size: 14px;
	color: #666;
	line-height: 16px;
}

.banner .navigation {
	/* float: right; */
	}

.banner .navigation ul {
	list-style: none;
	text-align: right;
	margin-bottom: 0px;
}

.banner .navigation ul li {
	display: inline;
	margin-right: 10px;
	line-height: 39px;
}

.banner .navigation a {
	font-weight: bold;
	color:#777777;
}

.small-footer-text .inline-nav li {
	margin: 0px;
	padding: 0px 15px;
}

.small-footer-text .inline-nav li:first-child {
	border: 0px;
}



/* Launch navbar */

.launch-navbar {
	background-color: #183660;
	padding: 10px 0px;
	color: #fff;
}

.launch-navbar .row {
	margin-bottom: 0px;
}

.launch-navbar ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

.launch-navbar ul li {
	display: inline;
	margin: 0px 5px;
}

.launch-navbar a {
	font-weight: bold;
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	line-height: 19px;
}

.launch-navbar a:hover {
	text-decoration: underline;
}




/* Navigation Bars */

.nav-bar-above,
.nav-bar-below {
	font-size: 14px;
	font-weight: normal;
	}

.page-header .navigation a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 19px;
	text-shadow: 0px 1px 1px #000, 0px 1px 1px rgba(0, 0, 0, 0.5);
	text-rendering:optimizelegibility;
	}

.banner .navigation {
	margin-top: 0px;
	}

.banner .navigation a{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 13px;
	text-rendering: optimizelegibility;
	}

.footer small {
display: block;
margin: 5px 0px;
font-weight: bold;
line-height: 1.6em;
font-weight: normal;
}

/*Fix for liveeditor */

.op-row-links .add-new-row img {display:inherit;margin-top:0px;}

	@media only screen and (max-width: 960px) {

		.banner.centered-banner > .fixed-width .banner-logo {
			width:auto;
		}

		.banner.centered-banner > .fixed-width .banner-logo img{
			width:100%;
		}

	}


	@media only screen and (max-width: 768px) {
		.banner .op-logo {float:none;margin:0px auto;text-align:center;}
		.banner .op-logo img {float:none;margin:0px auto;}
	}